.psychologistsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
} 

.psychodescrip {
    font-size: 23px;
    margin: 2px;
    font-weight: 300;
}

.titles {
    margin-bottom: 100px;
}