.psychologistsCard {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.eachProfile {
    display: flex;
    flex-direction: column;
    height: 440px;
    width: 25%;
    margin-bottom: 40px;
    margin: 15px;
}

.profile_pic {
    height: 300px;
    margin: 5px;
    object-fit: cover;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
}

.psychoName {
    font-family: 'Roboto';
    color: black;
    font-size: 22px;
    font-weight: 300;
    margin: 10px;
}

.underLine {
    display: flex;
    width: 45px;
    height: 2px;
    background-color: #1f5bff;
    z-index: 21;
    margin-top: 10px;
    margin-left: 7px;
}

.psychoDescription {
    font-family: 'Roboto';
    color: black;
    font-size: 16px;
    font-weight: 300;
    margin: 10px;
}

#like {
    border-radius: 50px;
    border: solid 1px black;
    width: 35px;
    height: 35px;
}